node_modules
.env
*.txt

# Foundry
out

# Hardhat files
cache
artifacts
deployments/localhost/**
typechain

# Mac OSX
.DS_Store

# Code coverage reports
coverage/
coverage.json

# VSCode
workspace.code-workspace
.vscode/

mnemonic.txt
