node_modules
.env

# Foundry
out
!remappings.txt

# Hardhat files
cache
artifacts
deployments/localhost/**

# Mac OSX
.DS_Store

# Code coverage reports
coverage/
coverage.json

*.txt

# VSCode
workspace.code-workspace
