node_modules
.env
*.txt

# Foundry
out
lib

# Hardhat files
cache
artifacts
deployments/localhost/**

# Mac OSX
.DS_Store

# Code coverage reports
coverage/
coverage.json

# VSCode
workspace.code-workspace
